*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-image: linear-gradient(90deg,#199219 70%,#FFFFFF 30%);
}
#header{
    display:flex;
    justify-content: space-between;
    background-color: #FFFFFF;
    border-bottom: 2px solid #000000;
    position: sticky;
    position: -webkit-sticky;
    top:0;
    z-index: 1;
    
}
#nav-bar{
    width:450px;
    padding:20px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    
}
.nav-link {
    padding:5px;
    text-align: right;
    color:#000000;
    text-decoration: none;
    font-size: 20px;
}
.nav-link:hover{
    text-decoration: underline;
}
#header-img{
    height: 100px;
    padding:10px;
}
h1{
    width:70%;
    padding:20px;
}
#video-cover{
    color:#FFFFFF;
    width: 100%;
    background-color: #000000;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}
#video{
    width: 100%;
}
#video-text{
    background-color: rgba(0,0,0,.5);
    position: absolute;
    right: 0;
    padding:20px;
    width:40%;
    height: 450px;
}
#video-text h2, #video-text p, #video-text button {
    margin: 20px 0;
}
#content {
    margin: 80px 0;
    width:100%;
    background-size: cover;
    background-position: bottom 40% center;
    height: 500px;
    background-image: url('pics/scv12_header_01.png');
    display: flex;
    justify-content: space-between;
    overflow: hidden;
}
#content div {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    width:150px;
    background-color: rgba(0, 0, 0, .6);
    box-shadow: 0 0 20px #000000;
    color: #FFFFFF;
}
#content div p {
    text-align: center;
    font-family: 'Arial';
    font-weight: 600;
}
.icon-png {
    width: 35%
}
.km-per-h {
    font-size: 26px;
    font-weight: bold;
}
#more h2, #form h2{
    padding:20px;
}
#cars{
    border-top:5px solid #000000;
    border-bottom:5px solid #000000;
    padding:10px;
    height:250px;
    background-color: #0d330d;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
#cars div{
    height: 100%;
    display: flex;
    flex-direction:column;
}
#cars div h3{
    text-align: center;
    margin:10px;
    border-bottom:2px solid #000000;
}
#cars div img {
    height: 100px;
}
#form {
    display: flex;
    align-items: center;
    flex-direction: column;
}
#form input{
    margin:20px;
    padding:15px 20px;
    font-size: 20px;
    border-radius: 100px;
    border: 2px solid #000000;
    background-color: rgba(0, 0, 0, .4);
    color: #FFFFFF;
}
#submit:hover {
    cursor: pointer;
}
#footer{
    width: 100%;
    padding: 20px;
    background-color: #0d330d;
}
#footer, #footer a {
    color: #FFFFFF;
    letter-spacing: 3px;
}

@media screen and (max-width: 700px) {
    #cars {
        flex-direction: column;
    }
}